body{
font-family: 'Roboto';
display: flex;
flex-direction: column;
}

.title{
    color: #F9F8F8;
    font-size: 24px;
}

.header{
    /*
    background-color: #1F2937;
    */
    background-color: rgb(17, 56, 37);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
/*
.fa-regular {
color: orange;
background-color: orange;
width: 40px;
height: 40px;
}
*/

.top-links{
    display: flex;
    gap: 15px;
    margin-right: 9px;
}

ul{
    list-style: none;
    color: #F9F8F8;
}


.header-photo{
    width: 250px;
    border-radius: 20px;
}


.sign-up2{
    margin: 40px;
    height: 30px;
    width: 110;
    background-color: transparent;
    border: solid black;
    border-radius: 10px;
    padding-bottom: 20px;
}

.top-fox-photo{
    display: flex;
    justify-content: end;
}
.container{
    /*
    background-color: #1F2937;
    */
    background-color: rgb(255, 165, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-section{
justify-content: center;
    display: flex;
    flex-direction:column;

}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    width: 200px;
    height: 200px;
    border: 8px solid  rgb(255, 165, 0);
    border-radius: 5px;
    background: transparent;
}

.random-info{
    align-self: center;
    font-size: 36px;
    color: #1F2937;
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.para{
    width: 200px;
    word-wrap: break-word;
}

.quote{
    background-color: #E5E7EB;
    justify-content: center;
    display: flex;
}

/*
.quote-container{
    display: flex;
    flex-direction: row;
}
*/

#my-quote{
    width: 380px;
    word-wrap: break-word;
}

#name{
    margin-top: 100px;
}

.call-to-action{
display: flex;
flex-direction: column;
align-items: center;
}

.call-holder{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 150px;
width: 70%;
background-color: orange;
margin: 10px;

}

#fox1{
    font-size: 25px;
}

#here{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.sign-up{
    margin: 40px;
    height: 20px;
    width: 50;
    background-color: transparent;
    border: solid black;
    border-radius: 10px;
    padding-bottom: 20px;
}

.sign-up:hover{
    background-color: rgb(255, 140, 0);
}

.sign-up:active{
    background-color: rgb(255, 110, 0);
}


.foot{
background-color: rgb(17, 56, 37);
height: 100px;
}

@media only screen and (max-width: 800px){
.boxes{
    display: flex;
    flex-direction: column;
}

.text{
display: flex;
flex-direction: column;
}

.box-section{
    display: flex;
    flex-direction: row;
}

}