body{
font-family: 'Roboto';
display: flex;
flex-direction: column;
}

.title{
    color: #F9F8F8;
    font-size: 24px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.top-links{
    display: flex;
    gap: 15px;
    margin-right: 9px;
}

ul{
    list-style: none;
    color: #F9F8F8;
}


.sign-up{
width: 100px;
}

.header-photo{
    width: 250px;
}

.top-fox-photo{
    display: flex;
    justify-content: end;
}
.container{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box-section{
justify-content: center;
    display: flex;
    flex-direction:column;

}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    width: 200px;
    height: 200px;
    border: 8px solid blue;
    border-radius: 5px;
    background: transparent;
}

.random-info{
    align-self: center;
    font-size: 36px;
    color: #1F2937;
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.para{
    width: 200px;
    word-wrap: break-word;
}

.quote{
    background-color: #E5E7EB;
    justify-content: center;
    display: flex;
}

/*
.quote-container{
    display: flex;
    flex-direction: row;
}
*/

#my-quote{
    width: 380px;
    word-wrap: break-word;
}

#name{
    margin-top: 100px;
}

.call-to-action{
display: flex;
flex-direction: column;
}

.call-holder{
height: 200px;
width: 80%;
background-color: lightseagreen;

}

.footer{

}